out/
tmp/
temp/
logs/
build/
target/
/test/
.idea/
.gradle/
.gitlab-ci-local/
*.log
*.rdgen
*.zip
.run
gradle-local.properties
/Canary/*logs/
/Canary/*
!/Canary/Readme.md
!/Canary/analysis-config
/Canary/analysis-config/*logs/
/Canary/checker_info.json
/Canary/analysis-config/*
!/Canary/analysis-config/descriptions
!/Canary/analysis-config/rule_sort.yaml
!/Canary/analysis-config/checker_info.csv
!/Canary/analysis-config/checker_info_ruleset_to_server_standard_name_mapping.json
!/Canary/analysis-config/checker_name_mapping.json
!/Canary/analysis-config/category.translation.csv