<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feysh.corax.config.tests.xml.mybatis.UserMapper">
    <!--添加一个用户，对象中的属性可以直接取出来，传递map的key-->
    <insert id="addUser" parameterType="map">
        insert into `user` (id,pwd) values (#{userId},#{passWord})
    </insert>
</mapper>